* {
  font-family: Verdana;
}

body {
  color: White;
  background-color: Black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

p {
  color: Gray;
  font-size: 21px;
}

.copyright {
  text-align: right;
}
